.finish-order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: brown;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal-item {
    background-color: black;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.finish-order:hover {
    background-color: rgb(145, 22, 22);
}

.finish-order:disabled {
    background-color: rgb(145, 22, 22);
    cursor: auto;
}