* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 20);
  color: #fff;
}

.drinks-page,
.pizzas-page,
.hamburguers-page,
.cart-page {
  width: 100%;
  display: block;
  margin-left: 6rem;
  /* overflow-y: scroll; */
}

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: brown; 
  border-radius: 25px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 22, 22); 
}